/* ============ */
/* Type setting */
/* ============ */
html {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

body {
	background-color: #fafafa;
	color: #333;
	margin: auto;
	padding: 0;
}

body.dark {
	background-color: #222;
	color: #fafafa;
}

p             { margin: 0 0 20px 0; }
p:last-child  { margin-bottom: 0; }

a 		{ color: #5af; font-weight: 400; }
a:hover { color: #5df; }

h1, .h1 { font-size: 2.2rem; margin: 0 0 20px 0; }
h2, .h2 { font-size: 1.8rem; margin: 0 0 20px 0; }
h3, .h3 { font-size: 1.6rem; margin: 0 0 20px 0; }
h4, .h4 { font-size: 1.4rem; margin: 0 0 20px 0; }
h5, .h5 { font-size: 1.2rem; margin: 0 0 20px 0; }
h6, .h6 { font-size: 1.1rem; margin: 0 0 20px 0; }

/* ============== */
/* Page structure */
/* ============== */
header {
	background-color: #3e3e3e;
	padding: 15px 0;
}

.dark header {
	background-color: #efefef;
}

main {
	flex-grow: 1;
	position: relative;
}

section {
	padding: 45px 0;
}

section:nth-child(2n) {
	background-color: #e5eaef;
}

.dark section:nth-child(2n) {
	background-color: #353a3f;
}

footer {
	background-color: #e5eaef;
	border-top: 1px solid #ddd;
	padding: 15px 0;
}

.dark footer {
	background-color: #555a5f;
	border-color: #777;
}

#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
}

.container {
	max-width: 1140px;
	margin: auto;
	padding: 0 15px;
}

/* ========== */
/* Components */
/* ========== */

.button {
	background-color: #5af;
	color: #fff;
	padding: 10px 15px;
	border-radius: 2px;
	border: 1px solid transparent;
	transition: 0.1s all ease-in-out;
	display: inline-block;
	text-decoration: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.dark .button {
	box-shadow: 2px 2px 2px rgba(255,255,255,0.3);
}

.button:hover {
	color: #5af;
	background-color: #fff;
	border-color: #5af;
	text-decoration: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.dark .button:hover {
	box-shadow: 2px 2px 4px rgba(255,255,255,0.5);
}

.text-center {
	text-align: center;
}

/* Panel blocks */
.panel-block {
	position: relative;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	border: 1px solid #eaeaea;
	transition: 0.1s all ease-in-out;
	background-color: #fafafa;
	width: 100%;
}

.dark .panel-block {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	border-color: #4a4a4a;
	background-color: #222;
}

.panel-block:hover {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.dark .panel-block:hover {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.panel-block figure {
	position: relative;
	margin: auto;
	padding: 15px;
}

.panel-block figure::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}

.panel-block figure > p,
.panel-block figure > h1,
.panel-block figure > h2,
.panel-block figure > h3,
.panel-block figure > h4,
.panel-block figure > h5,
.panel-block figure > h6 {
	position: relative;
	z-index: 1;
	margin: auto;
	color: #fff;
}

/* Block grid */
.block-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	gap: 30px 10px;
}

@media screen and (min-width: 768px) {
	.block-grid .panel-block {
		width: calc(33.3333% - 10px);
	}
}

.content {
	padding: 10px;
}

img.background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* =============== */
/* Utility classes */
/* =============== */
.glow {
	transition: 0.1s all ease-in-out;
}

.glow:hover {
	text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.8);
	color: #aa5;
}