/* ============ */
/* Type setting */
/* ============ */
html {
	font-family: 'Roboto', Arial, sans-serif;
	font-weight: 300;
	font-size: 16px;
}

body {
	background-color: #fafafa;
	color: #333;
	margin: auto;
	padding: 0;
}

body.dark {
	background-color: #111;
	color: #fafafa;
}

p             { margin: 0 0 20px 0; }
p:last-child  { margin-bottom: 0; }

a 		{ color: #5af; font-weight: 400; }
a:hover { color: #5df; }

h1, .h1 { font-size: 2.2rem; }
h2, .h2 { font-size: 1.8rem; }
h3, .h3 { font-size: 1.6rem; }
h4, .h4 { font-size: 1.4rem; }
h5, .h5 { font-size: 1.2rem; }
h6, .h6 { font-size: 1.1rem; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6 { margin: 0 0 20px 0; }
h1:last-child, .h1:last-child, 
h2:last-child, .h2:last-child, 
h3:last-child, .h3:last-child, 
h4:last-child, .h4:last-child, 
h5:last-child, .h5:last-child, 
h6:last-child, .h6:last-child { margin: 0; }

/* ====================== */
/* Default HTML Overrides */
/* ====================== */

img {
	margin: auto;
	display: block;
	max-width: 100%;
}

ul {
	padding: 0 0 0 30px;
	margin: 15px 0;
}

ul li {
	margin-bottom: 10px;
}

/* ============== */
/* Page structure */
/* ============== */
main {
	flex-grow: 1;
	position: relative;
	padding: 30px 0;
}

section header {
	position: relative;
	margin: auto;
	padding: 15px;
	color: #fff;
	box-shadow: 4px 4px 8px rgba(0,0,0,0.4);
}

section header::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}

footer {
	background-color: #e5eaef;
	padding: 20px 0;
	box-shadow: inset 2px 2px 8px rgba(0,0,0,0.1);
}

.dark footer {
	background-color: #222;
	border-color: #777;
}

#page {
	display: flex;
	flex-direction: column;
	min-height: 100vh; 
}

.container {
	max-width: 1140px;
	margin: auto;
	padding: 0 15px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.container.row {
	flex-direction: row;
}

.container.row-reversed {
	flex-direction: row-reverse;
}

section header .container {
	z-index: 2;
}

article {
	padding: 30px 0;
}

article:not(:last-child) {
	border-bottom: 4px solid #e5eaef;
}

.dark article {
	border-color: #333;
}

@media screen and (max-width: 1000px) {
	.container.row, .container.row-reversed {
		flex-direction: column;
	}
}

/* ========== */
/* Components */
/* ========== */

/* == Color Toggle == */
.color-toggle {
	position: absolute;
	right: 0;
	top: 0;
	margin: 10px;
	z-index: 1;
	text-decoration: none;
	filter: grayscale(1);
}

.color-toggle::before {
	content: '🌙';
  	background-color: #333;
	border-radius: 50%;
	padding: 3px;
	text-align: center;
}

.dark .color-toggle::before {
	content: '☀️';
	background-color: #eee;
}

/* == Buttons == */

.button {
	background-color: #5af;
	color: #fff;
	padding: 10px 15px;
	border-radius: 2px;
	border: 1px solid transparent;
	transition: 0.1s all ease-in-out;
	display: inline-block;
	text-decoration: none;
	box-shadow: 2px 2px 2px rgba(0,0,0,0.3);
}

.dark .button {
	box-shadow: 2px 2px 2px rgba(255,255,255,0.3);
}

.button:hover {
	color: #5af;
	background-color: #fff;
	border-color: #5af;
	text-decoration: none;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.dark .button:hover {
	box-shadow: 2px 2px 4px rgba(255,255,255,0.5);
}

.text-center {
	text-align: center;
}

/* Panel blocks */
.panel-block {
	position: relative;
	box-shadow: 2px 2px 4px rgba(0,0,0,0.1);
	border: 1px solid #eaeaea;
	transition: 0.1s all ease-in-out;
	background-color: #fafafa;
	width: 100%;
}

.dark .panel-block {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.2);
	border-color: #4a4a4a;
	background-color: #222;
}

.panel-block:hover {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.3);
}

.dark .panel-block:hover {
	box-shadow: 2px 2px 4px rgba(0,0,0,0.5);
}

.panel-block figure {
	position: relative;
	margin: auto;
	padding: 15px;
}

.panel-block figure::before {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	background-color: rgba(0,0,0,0.5);
}

.panel-block figure > p,
.panel-block figure > h1,
.panel-block figure > h2,
.panel-block figure > h3,
.panel-block figure > h4,
.panel-block figure > h5,
.panel-block figure > h6 {
	position: relative;
	z-index: 1;
	margin: auto;
	color: #fff;
}

/* Block grid */
.block-grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: space-between;
	gap: 30px 10px;
}

@media screen and (min-width: 768px) {
	.block-grid .panel-block {
		width: calc(33.3333% - 10px);
	}
}

.content {
	padding: 10px;
}

img.background {
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	object-fit: cover;
	width: 100%;
	height: 100%;
}

/* =============== */
/* Utility classes */
/* =============== */
.glow {
	transition: 0.1s all ease-in-out;
}

.glow:hover {
	text-shadow: 2px 2px 4px rgba(255, 255, 0, 0.8);
	color: #aa5;
}

.hidden {
	display: none;
}

.borderless {
	border: none !important;
}
